<template>
  <div class="container">
    <template v-for="(row, index) of sheet">
      <div class="row"  :key="index" v-if="row">
        <template v-for="(cell, index) of row">
          <div :key="index" class="cell" :class="{'active': cell.active, 'bingo': cell.bingo}" @click="toggleCell(cell)">
            <div>{{ cell.text }}</div>
          </div>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
import CreateSheet from '~/utils/create-sheet'

export default {
  name: 'Sheet',
  props: {
    name: String,
    size: Number
  },
  data () {
    return {
      sheet: []
    }
  },
  methods: {
    toggleCell(cell) {
      cell.active = !cell.active;
      this.checkBingo();
    },
    horizontal() {
      let bingoCells = [];

      for (let row of this.sheet) {
        const active = row.filter(c => c.active === true);

        if (active.length === this.size) {
          bingoCells = [...bingoCells, ...row]
        }
      }

      return bingoCells
    },
    vertical() {
      let bingoCells = []

      for (let i = 0; i < this.size; i++) {
        const cells = this.sheet.map(row => row[i]);
        const active = cells.filter(c => c.active);

        if (active.length === this.size) {
          bingoCells = [...bingoCells, ...cells]
        }
      }

      return bingoCells
    },
    diagonal() {
      let bingoCells = []

      for (let i = 0; i < this.size; i++) {
        const cells = this.sheet.map((row, index) => row[i + index])
        const active = cells.filter(c => (c) ? c.active : false)

        if (active.length === this.size) {
          bingoCells = [...bingoCells, ...active]
        }
      }

      for (let i = this.size; i > 0; i--) {
        const cells = this.sheet.map((row, index) => row[i - index - 1])
        const active = cells.filter(c => (c) ? c.active : false)

        if (active.length === this.size) {
          bingoCells = [...bingoCells, ...active]
        }
      }

      return bingoCells
    },
    resetBingo () {
      for (let row of this.sheet) {
        row.forEach(c => c.bingo = false)
      }
    },
    checkBingo() {
      this.resetBingo();
      let bingoCells = [
        ...this.horizontal(),
        ...this.vertical(),
        ...this.diagonal()
      ];

      bingoCells.forEach(c => c.bingo = true);
    },
    async load() {
      this.sheet = [];
      const path = `/decks/${this.name}.json`

      try {
        const words = await fetch(path).then(res => res.json())
        this.sheet = CreateSheet(words, this.size)
      } catch (err) {
        console.log(err)
      }
    }
  },
  created () {
    if (!this.$isServer) this.load();
  }
}
</script>

<style lang="scss" scoped>
.container {
  border: 1px solid;
  margin: 0 auto;
  max-width: 600px;
}

.row {
  border-bottom: 1px solid;
  display: flex;

  &:last-child {
    border-bottom: none;
  }
}

.cell {
  align-items: center;
  border-right: 1px solid;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: .5rem;
  text-align: center;
  width: 25%;

  &:last-child {
    border-right: none;
  }

  &:before {
    content: '';
    float: left;
    padding-bottom: 100%;
  }

  div {
    word-break: break-word;
  }

  &.active {
    background-color: #aaa;

    &.bingo {
      background-color: gold;
    }
  }
}


@media (max-width: 30rem) {
  .cell {
    font-size: .75em;
    padding: .25rem;
  }
}
</style>
