html, body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8rem;
  text-align: center;

  @media (max-width: 30rem) {
    font-size: 1.25rem;
  }
}

.btn {
  border: .0625em solid;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  padding: .5em 1em;
}
