<template>
  <div class="container">
    <h1>#KitchenImpossible – Bingo</h1>

    <client-only>
      <Sheet id="sheet" name="kitchenimpossible" :size="4" ref="sheet" />
      <div id="actions">
        <div id="reload-btn" class="btn" @click="() => $refs['sheet'].load()">Neues Sheet</div>
      </div>
    </client-only>

  </div>
</template>

<script>
import Sheet from '~/components/Sheet.vue'

export default {
  name: 'IndexPage',
  components: { Sheet }
}
</script>

<style lang="scss">
#sheet {
  margin-bottom: 3rem;
}

#actions {
  text-align: center;
}
</style>
